# Data Science Tools and Ecosystem

In this notebook, the process of creating and sharing a Jupyter Notebook as part of the final assignment is outlined.

**Objectives:**

- In this exercise, you will create a new Jupyter notebook named "DataScienceEcosystem.ipynb" and learn how to share it via GitHub. This process is crucial for collaborating on data science projects and maintaining version control.

- You will learn how to use markdown cells to add headings, introductions, and lists. This helps structure your notebook, making it easier to read and understand, especially when collaborating with others or documenting your work.

- You will evaluate simple arithmetic expressions in Python, such as multiplication, addition, and conversions. This foundational knowledge is essential for data manipulation and calculations when working with real-world datasets.

- In this exercise, you will write Python code to convert minutes into hours. This practical task will help you understand how to perform unit conversions and apply basic mathematical operations to manipulate data.

- You will learn how to upload and share your completed Jupyter notebook on GitHub. This is an essential skill for working in data science, allowing you to collaborate with others and track changes in your work over time.

**Some of the popular languages that Data Scientists use are:**



1.   Python
2.   R
3.   Julia

**Some of the commonly used libraries used by Data Scientists include:**


1.   Pandas
2.   NumPy
3.   Matplotlib
4.   TensorFlow

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python
```python
# Addition
result_addition = 5 + 3
print(result_addition)  # Output: 8

# Subtraction
result_subtraction = 10 - 4
print(result_subtraction)  # Output: 6

# Multiplication
result_multiplication = 7 * 6
print(result_multiplication)  # Output: 42

# Division
result_division = 9 / 3
print(result_division)  # Output: 3.0

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)  # Expected output: 17

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(hours)  # Expected output: 3.3333

3.3333333333333335

## Author
David